/* fonts */
$fontMontserrat: "Montserrat", sans-serif;
$fontPlayfairDisplay: "Playfair Display", serif;

/* colors */
$background: #fafafa;
$gray1: #333333;
$gray2: #4f4f4f;
$ray3border: #828282;
$gray4: #bdbdbd;
$black: #000000;
$white: #ffffff;
$grayFooter: #a9a9a9;
$orange: #f2994a;

/* base styles */
*,
*::before,
*::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.clearfix {
  zoom: 1;
}

@viewport {
  width: device-width;
  zoom: 1;
}

@-ms-viewport {
  width: device-width;
}

.row {
  position: relative;
}

.row::after {
  content: "";
  display: block;
  clear: both;
}

body {
  background-color: $background;
}

/* mobile */
.the-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(15 [row] auto);
  background-color: $background;
}

.title {
  display: inline-block;
  position: relative;
  grid-column: 1 / 13;
  grid-row: row 1;
  font-family: $fontPlayfairDisplay;
  font-style: normal;
  font-weight: bold;
  font-size: 1.4rem;
  line-height: 2rem;
  margin: 0.95rem 0 0.75rem 0.5rem;
}
.dots {
  display: inline-block;
  position: relative;
  grid-column: 1;
  grid-row: row 2;
  margin: 0.2rem 0 0 0.6rem;
}
.intro {
  display: inline-block;
  position: relative;
  grid-column: 2 / 13;
  grid-row: row 2;
  font-family: $fontMontserrat;
  font-weight: 500;
  font-style: italic;
  font-size: 0.7rem;
  line-height: 0.9rem;
  color: $gray2;
  margin: 0rem 1.2rem 1.2rem 0.2rem;
}

.cake-photo {
  display: inline-block;
  position: relative;
  grid-column: 2 / 13;
  grid-row: row 3;
  justify-self: stretch;
  line-height: 100%;
  width: 100%;
  max-width: 100ch;
  border-radius: 0.75rem;
  margin: 0 -1rem 0 -1rem;
}

.yields-box {
  display: block;
  position: relative;
  grid-column: 1 / 5;
  grid-row: row 4;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 1.5rem 0 1.5rem 0.6rem;
}

.material-icons.orange {
  grid-column: 1;
  grid-row: 1 / 3;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  color: $orange;
  font-size: 18px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.yields {
  grid-column: 2 / 4;
  grid-row: 1;
  font-family: $fontMontserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  color: $gray4;
  margin-left: -0.7rem;
}

.servings {
  grid-column: 2 / 5;
  grid-row: 2;
  font-family: $fontMontserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: $orange;
  margin-left: -0.7rem;
}

.preparation {
  display: block;
  position: relative;
  grid-column: 1 / 5;
  grid-row: row 5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0rem 0 1.5rem 0.6rem;
}

.material-icons.md-18.gray {
  grid-column: 1;
  grid-row: 1 / 3;
  font-family: "Material Icons";
  font-weight: normal;
  color: $gray2;
  font-size: 18px; /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.prep-time {
  grid-column: 2 / 4;
  grid-row: 1;
  font-family: $fontMontserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  color: $gray4;
  margin-left: -0.7rem;
}

.min {
  grid-column: 2 / 4;
  grid-row: 2;
  font-family: $fontMontserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: $gray1;
  margin-left: -0.7rem;
}

.cooking {
  display: block;
  position: relative;
  grid-column: 5 / 9;
  grid-row: row 5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 0rem 0 1.5rem 0.6rem;
}

.material-icons.md-18.gray {
  grid-column: 1;
  grid-row: 1 / 3;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  color: $gray2;
  font-size: 18px; /* Preferred icon size */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.cook-time {
  grid-column: 2 / 4;
  grid-row: 1;
  font-family: $fontMontserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  color: $gray4;
  margin-left: -0.7rem;
}

.hour {
  grid-column: 2 / 4;
  grid-row: 2;
  font-family: $fontMontserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: $gray1;
  margin-left: -0.7rem;
}

.total-cooking-time {
  display: block;
  position: relative;
  grid-column: 9 / 13;
  grid-row: row 5;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin: 0rem 0 1.5rem 0.6rem;
}

.material-icons.md-18.gray {
  grid-column: 1;
  grid-row: 1 / 3;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  color: $gray2;
  font-size: 18px; /* Preferred icon size */
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga";
}

.total-time {
  grid-column: 2 / 4;
  grid-row: 1;
  font-family: $fontMontserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 8px;
  line-height: 10px;
  text-transform: uppercase;
  color: $gray4;
  margin-left: -0.7rem;
}

.hours {
  grid-column: 2 / 4;
  grid-row: 2;
  font-family: $fontMontserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 12px;
  color: $gray1;
  margin-left: -0.7rem;
}

.ingredients {
  display: inline-block;
  position: relative;
  position: relative;
  display: inline-block;
  grid-column: 1 / 8;
  grid-row: row 6;
  font-family: $fontPlayfairDisplay;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: $gray1;
}

.crust-section {
  position: relative;
  display: inline-block;
  grid-column: 1 / 13;
  grid-row: row 7;
}

.crust {
  font-size: 0.875rem;
  font-family: $fontPlayfairDisplay;
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  line-height: 21px;
}

/* checkboxes */
.container {
  position: relative;
  display: inline-block;
  grid-column: 1 / 8;
  grid-row: row 8;
  position: relative;
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  font-family: $fontMontserrat;
  font-size: 14px;
  line-height: 25px;
  cursor: pointer;
  font-size: 14px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 21px;
  width: 21px;
  background-color: $background;
  border: 1px solid orange;
  border-radius: 4px;
}
/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: $gray4;
}
/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: $background;
}
/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}
/* Show the checkmark when checked  */
.container input:checked ~ .checkmark:after {
  display: block;
}
/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 8px;
  top: 4px;
  width: 5px;
  height: 11px;
  border: solid black;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.cheesecake-section {
  display: inline-block;
  position: relative;
  grid-column: 1 / 13;
  grid-row: row 9;
}

.cheesecake {
  font-family: $fontPlayfairDisplay;
  font-style: italic;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: $gray1;
}

.instructions-section {
  display: inline-block;
  position: relative;
  grid-column: 1 / 13;
  grid-row: row 10;
}

h6 {
  font-family: $fontMontserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 1rem;
  line-height: 150%;
  /* or 24px */
  color: $black;
}

.instructions {
  font-family: $fontPlayfairDisplay;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: $gray1;
}

.rectangle {
  display: inline-block;
  position: relative;
  border-radius: 6px;
  width: 36px;
  height: 36px;
  // left: 12px;
  background: $orange;
  border: none;
  color: $white;
  text-align: center;
  font: 24px $fontPlayfairDisplay;
  font-weight: bold;
  line-height: 32px;
}

.source {
  grid-column: 1 / 8;
  grid-row: row 11;
  font-family: $fontMontserrat;
  font-style: italic;
  font-weight: normal;
  font-size: 12px;
  line-height: 150%;
  /* or 18px */
  color: $gray4;
}

footer {
  grid-column: 1 / 8;
  grid-row: row 12;
  font-family: $fontMontserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */
  color: $grayFooter;
}
